*{
    margin:0px;
    padding: 0px;
}
body{
    padding-left: 100px;  
}
container{
    margin: 0 auto;
}
h1, h3, p img{
    color:#445161;
}
h1{
    margin-left: 500px
}
.head{
    height: 222px;
    min-width: 1000px;
   
    background-color:#445162;
}
.header{
    padding-left:30px;
    padding-top: 30px; 
    height: 188px;
    min-width: 1000px;
    max-width: 1200px;
    background-color:#445162;
}
.info{
    float: left;
    margin-top: 15px;
}
.nameweb{
    color: white;
    height: 50px;
}
.logo-text{
    color: white;
    text-align-last: left;
    margin-left: 30px
}
.textinfo{
    color: white;
}
.logofoto{
    width: 310px;
    min-height: 160px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 720px;
}
.NewProduct{
    margin: 10px 20px 0px 0px;
    min-height: 250px;
    position: relative;
}
.logo-list{
    color: #828b96;
    text-align-last: left;
}
.text-list{
    float: left;
    color: #494949;
    margin-top: 20px;
}
.decor{
    min-height: 175px;
    width: 282px;
    background-color: #445161;
    position: absolute;
    left: 530px;
}
.options{
    min-height: 380px;
    background-color: #f5f5f5;
}
.text-options{
   font-size: 5px;
}
.logo-options{
    color: #828b96;
    padding-top: 20px;
    margin-left: 20px
}
li{
   color: #494949;
   margin: 20px 0px 20px 25px; 
}
.ul-options-left{
    float: left;
    list-style-image: url(items/plus%20icon.png);
}
.ul-options-right{
    list-style-image: url(items/plus%20icon.png);
}
.left-items{
    flex-direction: column;
    min-width: 570px;
    float: left;
}
.right-items{
    flex-direction: column
}
.items{
    display: block;
    float: left;
    height: 160px;
    width: 200px;
    background-color: #445161;
    margin-top: 10px;
    margin-right: 10px;
}
.fixed-2{
    height: 184px;
}
list-comint{
    min-width: 400px;
    max-width: 450px;
}
.shop{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.block-buy1{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 333px;
    margin: 10px 10px 0px 10px;
}
.block-buy2{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 484px;
    margin: 10px 10px 0px 10px;
}
.block-buy3{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 635px;
    margin: 10px 10px 0px 10px;
}
.lvl{
    color: white;
    text-align-last: center;
}
.price{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid black;
}
.price-text{
    text-align-last: center;
    margin-top: 10px;
    margin-left: 0px;
}
.description-text{
    color: white;
}
.buy{
    width: 280px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: white;
    margin-left: 10px
}
.buy:hover{
    background-color: #212121;
}
.comint{
    margin-top: 125px;
}
.list-comint{
    max-height: 570px;
    text-decoration: 
}
.left-comint{
    flex-direction: column;
    min-width: 570px;
    float: left;
    list-style-image: url(items/userpic.png);
}
.right-comint{
    flex-direction: column; 
    list-style-image: url(items/userpic.png);
}
textarea {
  resize: none;
}
footer{
    background-color:  #445162;
    margin-top: 60px;
    min-height: 400px
}
.logo-contacts{
    color: white;
    padding-top: 50px;
}
form{
    margin-top: 30px;
    margin-left: 80px;
}
.name{
    position: absolute;
     min-width: 325px;
    border-radius: 5px;
    height: 25px;
}
.email{
    float: left;
    position: absolute;
    margin-top: 40px;
     min-width: 325px;
    border-radius: 5px;
    height: 25px;
}
.area{
    margin-top:  80px;
    min-width: 325px;
}
.send{
    width: 60px;
    height: 40px;
    border-radius: 3px;
}
.send:hover{
    background-color: #212121;
    border-color: #212121;
}
section{
    float: left;
}
.contacts {
  width: 300px;
  ;
  margin-top: 60px;
  margin-left: 50%;
    position: absolute;
}

.contacts-item {
  display: block;
  margin: 0 0 5px 0;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  position: relative;
}
.item1{
    list-style-image: url(items/skype%20icon.png);
    color: white;
}
.item2{
    list-style-image: url(items/icq%20icon.png);
    color: white;
}
.item3{
    list-style-image: url(items/email%20icon.png);
    color: white;
}
.item4{
    list-style-image: url(items/phone%20icon.png);
    color: white;
}

.contacts-item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.social {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}
.social-item {
  display: block;
  width: 60px;
  height: 60px;
  /* border: 1px solid black; */
  background-image: url('https://sun9-19.userapi.com/c840633/v840633496/6abd2/aHsgqxaaD4g.jpg');
}

.social-item:nth-child(1) {
  background-position: 0 0;
}

.social-item:nth-child(2) {
  background-position: -59px 0;
}

.social-item:nth-child(3) {
  background-position: -118px 0;
}

.social-item:nth-child(4) {
  background-position: -177px 0;
}


/* ================================= */

.social-item:nth-child(1):hover {
  background-position: 0 -59px;
}

.social-item:nth-child(2):hover {
  background-position: -59px -59px;
}

.social-item:nth-child(3):hover {
  background-position: -118px -59px;
}

.social-item:nth-child(4):hover {
  background-position: -177px -59px;
}