*{
    margin:0px;
    padding: 0px;
}
body{
    padding-left: 100px;
    padding-right: 100px;
}
h1, h3, p img{
    color:#445161;
}
h1{
    text-align-last: center;
}
.head{
    height: 222px;
    min-width: 1000px;
    max-width: 1200px;
    background-color:#445162;
}
.header{
    padding-left:30px;
    padding-top: 30px; 
    height: 188px;
    min-width: 1000px;
    max-width: 1200px;
    background-color:#445162;
}
.info{
    float: left;
    margin-top: 15px;
}
.nameweb{
    color: white;
    height: 50px;
}
.logo-text{
    color: white;
    text-align-last: left;
}
.textinfo{
    color: white;
}
.logofoto{
    width: 310px;
    min-height: 160px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 720px;
}
.NewProduct{
    margin: 10px 20px 0px 0px;
    min-height: 250px;
    position: relative;
}
.logo-list{
    color: #828b96;
    text-align-last: left;
}
.text-list{
    float: left;
    color: #494949;
    margin-top: 20px;
}
.decor{
    min-height: 175px;
    width: 282px;
    background-color: #445161;
    position: absolute;
    left: 530px;
}
.options{
    min-height: 380px;
    background-color: #f5f5f5;
}
.logo-options{
    color: #828b96;
    padding-top: 20px;
    margin-left: 20px
}
li{
   color: #494949;
   margin: 20px 0px 20px 25px; 
}
.ul-options-left{
    float: left
}
.ul-options-right{   
}
.left-items{
    flex-direction: column;
    min-width: 570px;
    float: left;
}
.right-items{
    flex-direction: column
}
.items{
    display: block;
    float: left;
    height: 160px;
    width: 200px;
    background-color: #445161;
    margin-top: 10px;
    margin-right: 10px;
}
.fixed-2{
    height: 184px;
}
list-comint{
    min-width: 400px;
    max-width: 450px;
}
.shop{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.block-buy1{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 333px;
    margin: 10px 10px 0px 10px;
}
.block-buy2{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 484px;
    margin: 10px 10px 0px 10px;
}
.block-buy3{
    background-color: #445162;
    min-width: 300px;
    max-width: 330px;
    height: 635px;
    margin: 10px 10px 0px 10px;
}
.lvl{
    color: white;
    text-align-last: center;
}
.price{
    width: 100%;
    height: 60px;
    background-color: white;
    border: 1px solid black;
}
.price-text{
    text-align-last: center;
    margin-top: 10px;
}
.description-text{
    color: white;
}
.buy{
    width: 280px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: white;
    margin-left: 10px
}
.buy:hover{
    background-color: #212121;
}
